In [7]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json
pd.set_option('display.expand_frame_repr', False)
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36(KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36"
}
url2 = "https://www.wantgoo.com/investrue/all-quote-info"

r = requests.get(url2, headers = headers).content
soup = BeautifulSoup(r, "html.parser")
rr = soup.prettify()
df = pd.read_json(rr)

df = df.drop(columns=['tradeDate', 'time','millionAmount'])
df["id"] = df["id"].astype("string")
df["float"] = df["close"].astype("float")
df["amp"] = (df["close"] - df["open"])/df["open"] * 100
# df = df[(df["id"]>="1101") & (df["id"]<="9999") & (df["volume"] >= 2000) & (df["close"] > df["previousClose"]) & (df["amp"] > 2)].sort_values(by=['amp', 'volume'], ascending=False)
df = df[(df["id"]>="1101") & (df["id"]<="9999")]
# df.info()
# print(df.head(30))

url3 = "https://www.wantgoo.com/stock/all-turnover-rates"
r2 = requests.get(url3, headers = headers).content
soup = BeautifulSoup(r2, "html.parser")
rr2 = soup.prettify()
dfa = pd.read_json(rr2)

dfa["investrueId"] = dfa["investrueId"].astype("string")
# dfa.info()
dfb = pd.merge(df, dfa, left_on="id", right_on="investrueId").sort_values("value", ascending=False)
dfb

import _beowFmt as fm 
dd = dfb[{"id","volume"}].sort_values("id")
ss = 'id,volume\n'
for d in dd.values.tolist():
  ss += f"{d[0]}, {d[1]}\n"

fm.write_LogFile(f"volumeData/20230105.csv", ss)

C:\Users\choudani\AppData\Local\Temp\ipykernel_14712\2316319950.py:37: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  dd = dfb[{"id","volume"}].sort_values("id")

In [27]:
dfv = pd.read_csv("volumeData/20230103.csv")
dfv

       id   volume  Unnamed: 2
0    1101    10428         NaN
1    1102     3818         NaN
2    1216     6469         NaN
3    1217     9482         NaN
4    1218     1874         NaN
..    ...      ...         ...
364  9919     2406         NaN
365  9941     1039         NaN
366  9945     2191         NaN
367  9958     4023         NaN
368  9962     1288         NaN

[369 rows x 3 columns]

In [32]:
import _beowFmt as fm 

df2 = df[(df["id"]>="1101") & (df["id"]<="9999") & (df["volume"] >= 1000)].sort_values(by=['id'], ascending=True)
dd = df2[{"id","volume"}]
ss = ''
for d in dd.values.tolist():
  ss += f"{d[1]}, {d[0]}\n"

fm.write_LogFile(f"keepData/stockVolume.csv", ss)

C:\Users\user\AppData\Local\Temp\ipykernel_11800\2255705210.py:3: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  dd = df2[{"id","volume"}]

In [ ]:
from pathlib import Path  

filepath = Path('https://www.wantgoo.com/investrue/all-quote-info')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)

In [ ]:
# importing the requests library
import requests

# api-endpoint
URL = "http://maps.googleapis.com/maps/api/geocode/json"

# location given here
location = "delhi technological university"

# defining a params dict for the parameters to be sent to the API
PARAMS = {'address':location}

# sending get request and saving the response as response object
r = requests.get(url = URL, params = PARAMS)

# extracting data in json format
data = r.json()


# extracting latitude, longitude and formatted address
# of the first matching location
latitude = data['results'][0]['geometry']['location']['lat']
longitude = data['results'][0]['geometry']['location']['lng']
formatted_address = data['results'][0]['formatted_address']

# printing the output
print("Latitude:%s\nLongitude:%s\nFormatted Address:%s"
	%(latitude, longitude,formatted_address))